{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Agregar Comentario</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/publicaciones.css' %}" />
  </head>
  <body>
    <div class="container_registro ">

      <form method="post" class="form_main registro">
        {% csrf_token %}
        <p class="heading">Agregar Comentario</p class="heading">
        <textarea
          name="contenido"
          cols="40"
          rows="10"
          class="form-control"
          placeholder="Contenido"
          title=""
          required=""
          id="id_contenido"
        ></textarea>
        <span class="content-btn-coments">

          <button
          type="submit"
          class="comentario-button"
          >
          Enviar
        </button>
        <a href="{% url 'detalle_publicacion' pk=publicacion.pk %}" class="comentario-button back"
        >Listado de Publicaciones</a
        >
      </span>

      </form>
    </div>
  </body>
</html>


