{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Editar Comentario</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/publicaciones.css' %}" />
  </head>
  <body>
    <div class="container_registro ">

      <form method="post" class="form_main registro">
        {% csrf_token %}
        <p class="heading">Editar Comentario</p class="heading">
        <textarea
          name="contenido"
          cols="40"
          rows="10"
          class="form-control"
          placeholder="Contenido"
          id="{{ form.contenido.id_for_label }}"
          
        >{{ form.contenido.value }}</textarea>
        <span class="content-btn-coments">

          <button
          type="submit"
          class="comentario-button"
          >
          Enviar
        </button>
        
      </span>

      </form>
    </div>
  </body>
</html>


