{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
<!DOCTYPE html>
<html>
  <head>
    <title>Editar Publicación</title>
  </head>
  <body>
    <div class="container">
      <h1>Editar Publicación</h1>

      <form method="post">
        {% csrf_token %}{% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Guardar Cambios</button>
        <!-- <input type="submit" value="Guardar Cambios" /> -->
        <a href="{% url 'listar_publicaciones' %}" class="btn btn-secondary"
          >Volver al Listado de Publicaciones</a
        >
      </form>
    </div>
  </body>
</html>
