{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
<!DOCTYPE html>
<html>
  <head>
    <title>Detalles de la Publicación</title>
  </head>
  <body>
    <div class="container">
      <h1>Detalles de la Publicación</h1>
      <div class="card p-3">
        <div class="card-header">
          <h3><strong>Título:</strong> {{ publicacion.titulo }}</h3>
        </div>
        <p><strong>Descripción:</strong> {{ publicacion.descripcion }}</p>
        <p><strong>Precio:</strong> ${{ publicacion.precio }}</p>
        <p><strong>Ubicación:</strong> {{ publicacion.ubicacion }}</p>
        <p><strong>Estado:</strong> {{ publicacion.get_estado_display }}</p>
        <p><strong>Publicacion:</strong> {{ publicacion.fecha_publicacion }}</p>
        <p><strong>Propietario:</strong> {{ publicacion.propietario }}</p>
        <p><strong>Email:</strong> {{ publicacion.propietario.email }}</p>
      </div>
      <hr />
      <div>
        <h2>Comentarios:</h2>
        {% if messages %} {% for message in messages %}
        <div
          class="alert {{ message.tags }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %} {% endif %}
        <ul>
          {% for comentario in comentarios %}
          <li>
            <strong>Autor:</strong> {{ comentario.autor.username }}<br />
            <strong>Contenido:</strong> {{ comentario.contenido }}<br />
            <strong>Fecha de Creación:</strong> {{ comentario.fecha_creacion }}
            {% if request.user == comentario.autor %}
            <!-- Agregar enlace para editar comentario -->
            <a
              href="{% url 'editar_comentario' pk=comentario.pk %}"
              class="btn btn-warning"
              >Editar</a
            >
            <a
              href="{% url 'eliminar_comentario' pk=comentario.pk %}"
              class="btn btn-danger"
              >Eliminar</a
            >
            {% endif %}
          </li>
          <br />
          {% endfor %}
        </ul>

        <a
          href="{% url 'agregar_comentario' pk=publicacion.pk %}"
          class="btn btn-primary"
          >Agregar Comentario</a
        >
        <a href="{% url 'publicaciones_view'  %}" class="btn btn-secondary"
          >Volver al Listado</a
        >

        <hr />
      </div>
    </div>
  </body>
</html>
