{% extends 'base.html' %} {% block title %}Página de Inicio{% endblock %}
{%block content %}

<div class="content_index">
  <h1>Bienvenido a nuestra plataforma de alquiler</h1>

  <div class="form_main">
    <p class="heading">Inquilinos</p>

    <p>Accede si eres un inquilino</p>
    <br />

    <a href="{% url 'login_inquilino' %}" class="button"> Ir a Login </a>

    <div class="signupContainer">
      <p>Don't have any account?</p>
      <a href="{% url 'registro_inquilino' %}">Sign up</a>
    </div>
  </div>

  <div class="form_main">
    <p class="heading">Propietarios</p>

    <p>Accede si eres un propietario</p>
    <br />

    <a href="{% url 'login_propietario' %}" class="button"> Ir a Login </a>
    <div class="signupContainer">
      <p>Don't have any account?</p>
      <a href="{% url 'registro_propietario' %}">Sign up</a>
    </div>
  </div>
</div>
{% endblock %}
