{%load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Confirmar eliminación de perfil</title>
    <link rel="stylesheet" href="{% static 'css/publicaciones.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=League+Spartan:wght@500;600;700&family=Poppins:wght@700&family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="contenedor-comentarios cont-delete">
      <h1>¿Estás seguro de que deseas eliminar tu perfil?</h1>
      <p>esta accion no se puede revertir!</p>
      <form method="post">
        {% csrf_token %}
        <input
          type="submit"
          value="Sí, eliminar mi perfil"
          class="btn-delete"
        />
        <a
          href="{% url 'listar_publicaciones' %}"
          class="comentario-button back"
          >Cancelar</a
        >
      </form>
    </div>
  </body>
</html>
