{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

<!DOCTYPE html>
<html>
  <head>
    <title>Detalle de Perfil</title>
  </head>
  <body>
    <div class="container mt-5 w-50">
      {% if messages %} {% for message in messages %}
      <div
        class="alert {{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %}
      <div class="card mx-auto" style="width: 25rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Detalle de Perfil</h5>
          <p class="card-text">Username: {{ propietario.username }}</p>
          <p class="card-text">Nombre: {{ propietario.nombre }}</p>
          <p class="card-text">Apellido: {{ propietario.apellido }}</p>
          <p class="card-text">Email: {{ propietario.email }}</p>
          <div>
            <a href="{% url 'editar_perfil' %}" class="btn btn-primary"
              >Editar Perfil</a
            >
            <a href="{% url 'listar_publicaciones' %}" class="btn btn-secondary"
              >Listado de Publicaciones</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
